@use '../../../styles/variables' as *;
@use '../../../styles/functions' as *;

/* @define error-container */
.error-container {
    display: flex;
    flex-direction: column;
    gap: calc-rem(2);
}

.error-container__message {
    font-size: calc-rem(3);
    color: $primary-red;
}
