@use '../../styles/functions' as *;

/* @define form-row */
.form-row {
    display: flex;
    flex-direction: column;
    gap: calc-rem(4);

    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    & > * {
        flex: 1;
    }
}

@media (width >= 768px) {
    .form-row {
        flex-flow: row wrap;
    }
}
