@use '../styles/functions' as *;
@use '../styles/variables' as *;

.page {
    max-width: calc-rem(92.5);
    margin: 0 auto;
    background-image: url('../assets/images/bg-main-mobile.png');
    background-repeat: no-repeat;
}

.card {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: calc-rem(10);
    max-width: inherit;
    padding: calc-rem(10) calc-rem(5);
}


