@use '../styles/functions' as *;
@use '../styles/variables' as *;

.page {
    max-width: calc-rem(92.5);
    margin: 0 auto;
    background-image: url('../assets/images/bg-main-mobile.png');
    background-repeat: no-repeat;
}

.card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: calc-rem(10) calc-rem(5);
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: calc-rem(20);
	font-size: calc-rem(3);
	color: $purple-950;
	letter-spacing: .075rem
}
