@use '../styles/functions' as *;

.page {
    max-width: calc-rem(92.5);
    margin: 0 auto;
    background-image: url('../assets/images/bg-main-mobile.png');
    background-repeat: no-repeat;
}

.card {
	display: flex;
	flex-direction: column;
    border: red 1px solid;
}

.card-front,
.card-back {
	width: 80%;
	height: auto;
}
