@use '../../../styles/functions' as *;
@use '../../../styles/variables' as *;

/* @define control */
.control {
    display: flex;
    flex-direction: column;
    gap: calc-rem(2);
}

.control__label {
    font-size: calc-rem(3);
    color: $grey-900;
}

.control:has(input:where([type='radio'], [type='checkbox'])) {
    flex-flow: row nowrap;
    align-items: center;
    color: $grey-900;
    transition: all 150ms ease-in-out;
}

.control:has(input[type='checkbox']) {
    gap: calc-rem(5);
    margin-block: calc-rem(4);
}

.control:has(input[type='radio']) {
    padding: calc-rem(2.5) calc-rem(4);
    border: 1px solid $grey-500;
    border-radius: calc-rem(1.5);
}

.control:has(input:is([type='radio'], [type='checkbox']):hover) {
    border-color: $primary-green-600;
}

.control:has(input[type='radio']:checked) {
    background-color: $primary-green-200;
    border-color: $primary-green-600;
}

.control--invalid :not(input:where([type='radio'], [type='checkbox'])) {
    border-color: $primary-red;
}
