@use '../../../styles/functions' as *;
@use '../../../styles/variables' as *;

/* @define textarea */
.textarea {
	padding: calc-rem(2.5) calc-rem(4);
	resize: none;
	border: 1px solid $grey-500;
	border-radius: calc-rem(1.5);
}
