$white: hsl(0deg 100% 100%);
$gray-200: hsl(270deg 3% 87%);
$gray-400: hsl(212deg 12% 71%);
$purple-950: hsl(278deg 68% 11%);
$active-linear: hsl(249deg 99% 64%) to hsl(278deg 94% 30%);
$red-400: hsl(0deg 100% 66%);
