@use 'functions' as *;
@use 'variables' as *;

*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
video,
picture,
svg {
    display: block;
    max-width: 100%;
}
