@use 'functions' as *;
@use 'variables' as *;

*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
video,
picture,
svg {
    display: block;
    max-width: 100%;
}

input {
	padding: calc-rem(2) calc-rem(3);
	font-size: 1rem;
	border: 1px solid $gray-400;
	border-radius: calc-rem(1.5);

	&::placeholder {
		color: $gray-400
	}

	&:focus {
		outline: none;
	}
}

button {
	padding: calc-rem(3.5);
	font-size: 1rem;
	color: $white;
	background-color: $purple-950;
	border: none;
	border-radius: calc-rem(2);
}
