@use '../../../styles/variables' as *;
@use '../../../styles/functions' as *;

/* @define input-radio */
.input-radio {
	width: calc-rem(4);
	height: calc-rem(4);
	accent-color: $primary-green-600;
}
