.nutritionTable {
	border-collapse: collapse;

	& tr:not(:last-child) {
		border-bottom: 1px solid var(--stone-150);
	}

	& td {
		padding: calc(var(--spacing) * 4);
		font-weight: 600;

		&:nth-child(even) {
			font-weight: bold;
			color: var(--brown-800);
			text-align: left
		}
	}
}
