.comment {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 5);
	padding: calc(var(--spacing) * 6) calc(var(--spacing) * 5);
	color: var(--neutral-white);
	background-color: var(--primary-very-dark-magenta);
	border-radius: calc(var(--spacing) * 2);
}

.commentHeader {
	display: flex;
	flex-wrap: nowrap;
	gap: calc(var(--spacing) * 5);
	align-items: center;
}

.commentAvatar {
	width: calc(var(--spacing) * 9);
	height: calc(var(--spacing) * 9);
	border-radius: 50%;
}

.commentAuthor {
	font-size: calc(var(--spacing) * 4);
}

.commentStatus {
	font-size: calc(var(--spacing) * 4);
	font-weight: 400;
	color: var(--primary-soft-pink);
}

@media (width >=768px) {
	.comment {
		flex: 1;
	}

	.comment:nth-child(2) {
		margin-top: calc(var(--spacing) * 4);
	}

	.comment:nth-child(3) {
		margin-top: calc(var(--spacing) * 8);
	}
}
