/* primary */
$primary-green-200: hsl(148deg 38% 91%);
$primary-green-600: hsl(169deg 82% 27%);
$primary-red: hsl(0deg 66% 54%);

/* neutrals */
$white: hsl(0deg 0% 100%);
$grey-500: hsl(186deg 15% 59%);
$grey-900: hsl(187deg 24% 22%);
