@use 'variables' as *;
@use 'functions' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.4;
}

img,
video,
svg,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

label {
    font-size: calc-em(4);
}
