@use 'variables';
@use 'functions' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.4;
    background-color: variables.$primary-green-200;
}

main {
    padding: calc-rem(5);
}

img,
video,
svg,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

fieldset {
    border: none;
}
