@use 'variables' as *;
@use 'functions' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.4;
    background-color: $primary-green-200;
}

main {
    padding: calc-rem(5);
}

img,
video,
svg,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

input:where([type='radio'], [type='checkbox']) {
    width: calc-rem(4.5);
    height: calc-rem(4.5);
    accent-color: $primary-green-600;
}

:is(input:not([type='radio'], [type='checkbox']), textarea) {
    transition: border-color 150ms ease-in-out;

    &:is(:hover, :focus) {
        outline: none;
        border-color: $primary-green-600;
    }
}

.invalid {
    border-color: $primary-red;
}
