@use '../../styles/variables' as *;
@use '../../styles/functions' as *;

/* @define form */
.form {
    display: flex;
    flex-direction: column;
    gap: calc-rem(5);
}

.form__submit {
    padding-block: calc-rem(3);
    color: $white;
    background-color: $primary-green-600;
    border: none;
    border-radius: calc-rem(2);
	transition: background-color 150ms ease-in-out;

    &:hover {
        background-color: $primary-green-900;
    }
}
