.recipe,
.recipeHeader {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 5);
}

.recipe {
	margin: 0 auto;
}

.recipeDescription {
	margin-block-start: calc(var(--spacing) * 5);
}

.headerCover {
	overflow: initial;
	border-radius: unset;
}

@media (width >=768px) {
	.recipe {
		max-width: 80%;
		padding: calc(var(--spacing) * 6);
		background-color: var(--white);
		border-radius: calc(var(--spacing) * 4);
	}

	.headerCover {
		overflow: hidden;
		border-radius: calc(var(--spacing) * 2);
	}
}
