@use '../../../styles/functions' as *;
@use '../../../styles/variables' as *;

/* @define fieldset */
.fieldset {
    border: none;
}

.fieldset__legend {
    margin-bottom: calc-rem(4);
    font-size: calc-rem(3);
    color: $grey-900;
    word-break: keep-all;
}
