.page {
	padding: calc(var(--spacing) * 5);
	border: 1px solid black;
}

.container {
	display: grid;
	grid-template-rows: repeat(3, auto);
	max-width: 375px;
	padding-inline: 1rem;
	margin: 0 auto;
}

.containerItem {
	padding-block: calc(var(--spacing) * 5);
}

.testimonialsHeader {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 4);
	text-align: center;
}

.testimonialsTitle {
	font-size: calc(var(--spacing) * 8);
	line-height: .80;
	color: var(--primary-very-dark-magenta);
	letter-spacing: -.5px
}

.testimonialsDescription {
	font-size: calc(var(--spacing) * 3.75);
	font-weight: 500;
	color: var(--neutral-dark-grayish-magenta);
}

@media (width >= 768px) {
	.container {
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, 1fr);
		max-width: 100%;
	}

	.containerItem:last-child {
		grid-column: span 2;
	}
}
