@use '../../styles/variables' as *;
@use '../../styles/functions' as *;

/* @define toast */
.toast {
    position: absolute;
    top: calc-rem(2);
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: calc-rem(2);
    width: 75%;
    padding: calc-rem(3);
    margin: 0 auto;
    background-color: $primary-green-900;
    border-radius: calc-rem(2);
}

.toast__heading {
    display: flex;
    flex-flow: row nowrap;
    gap: calc-rem(2);
    align-items: center;
    color: $white;
}

.toast__message {
    font-size: calc-rem(3);
    color: $white;
}
